---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Compatibility" id="compatibility">
  <Fragment slot="lead">
    OpenFlier <span class="text-primary">plays nice</span>.</br>
    Well, is there any better proof than still supporting <span class="text-primary">Windows 7</span> in <span class="text-primary">2023</span>?
  </Fragment>
  
</ContentSection>
