---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Go Faster.",
    description:
      "Built under .NET 7, it is now much faster than Zyflier.",
    icon: "mdi:speedometer",
  },
  {
    title: "Go Advanced.",
    description:
      "It's about accessing web, printing out documents, or even controlling your computer.",
    icon: "mdi:airballoon-outline",
  },
  {
    title: "Go Extensible.",
    description:
      "To achive this, we employed a plugin architecture, allowing developers to extend OpenFlier's capabilities.",
    icon: "mdi:puzzle-outline",
  },
];
---

<ContentSection title="Features" id="features">
  <Fragment slot="lead">
    Install. <span class="text-primary">Plug in.</span> Go.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
