---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";
import {Image} from "@astrojs/image/components"
import bannerImage from "~/assets/banner.png"

const links: Array<FooterLink> = [
  {
    url: "https://github.com/djdjz7/OpenFlier",
    description: "View source on GitHub",
    icon: "fa-brands:github-alt",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40 w-full h-full bg-[url('assets/banner.png')] bg-cover">
    
  </div>
  <ul class="relative grid self-center">
    {
      links.map((link) => (
        <li>
          <a
            class="flex h-16 w-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="h-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
