---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import {Image} from "@astrojs/image/components"
import iconImage from "~/assets/icon.png"
---

<ContentSection title="Next Step." id="intro">
  <Image src={iconImage} height={250} alt="OpenFlier icon." class="self-center" slot="eyebrow"/>
  <Fragment slot="lead">
    OpenFlier is the successor to
    <span class="text-primary">Zyflier</span> and a replacement for <span class="text-primary">ZY ClassHelper</span>.</br>
    We focus on <span class="text-primary">reliability</span> and <span class="text-primary">extensibility</span>.
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://blog.djdjz7.ml/docs"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="telescope" class="h-8" />
      <span>Read the docs</span>
    </a>
    <a
      href="https://github.com/djdjz7/OpenFlier"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon pack="mdi" name="set-center-right" class="h-8" />
      <span>Join the development</span>
    </a>
  </div>
</ContentSection>
